<footer>
	
				<%= link_to "a Propos", about_path %> | 

				<%= link_to "Contact", contact_path %> | 

				<a href="http://news.railstutorial.org/">News</a> | 
	
				<a href="http://www.railstutorial.org/">Tutoriel Rails</a> 
	
</footer>
